::ng-deep.pass .mat-form-field-wrapper{
    padding-bottom: 1px !important;
}

.ph-center::-webkit-input-placeholder {
  text-align: center;
}

.ph-center{
  text-align: center;
  font-size: medium;
}
